<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th></th>
			<th>Title</th>
			<th>Author</th>
			<th>Year</th>
			<th>Available Books</th>
		</tr>
	</thead>
	<tbody>
		{% for book in books %}
		<tr>
			<td><img class="book-preview-image" src="{{ url_for('static', filename = ''+ book.cover ) }}" alt="{{ book.name }}"></td>
			<td>{{ book.name }}</td>
			<td>{{ book.authors }}</td>
			<td>{{ book.year }}</td>
			<td>{{ book.available }}</td>
		</tr>
		{% endfor %}

<!-- 
INSERT INTO books (name, authors,available, cover, year) VALUES ("Programming Interviews Exposed","John Mongan, Noah Kindler, and Eric Giquere", "2/2","img/Book-ProgrammingInterviewsExposed.jpg",2000);

INSERT INTO books (name, authors,available, cover, year) VALUES ("Cracking the Coding Interview: 150 Programming Questions and Solutions","Gayle Laakmann McDowell","0/2","img/Book-CrackingTheCode.jpg","2011");

INSERT INTO books (name, authors,available, cover, year) VALUES ("Lean In: Women, Work, and the Will to Lead","Sheryl Sandberg","4/6","img/Book-LeanIn.jpg","2013");  

INSERT INTO books (name, authors,available, cover, year) VALUES ("The Design of Everyday Thing","Don Norman","1/1","img/Book-DOET.jpg","1988");


-->
	</tbody>
</table>
